{% extends 'base.html' %}

{% block content %}

<div align="center" style="color: Blue"><h1>Wellcome to my online shop</h1></div>
<div align="center" style="color: green"><h2>Choose your category</h2></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="text-center">
                <a href="/all_products"><img src="static/products.jpg"></a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="text-center">
                <a href="/all_supermarkets"><img src="static/supermarket.jpg"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}